.experienceContainer {
    display: flex;
    align-items: center;
}

.experienceContent {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem ;
}


.experienceButton {
    width: fit-content;
    padding: 10px 20px;
}

.experienceImage {
    width: 93.5%;
    height: 1000px;
}

.experienceImageRight {
    width: 51%;
    height: 1000px;
    background: #a3e9f2;
}

@media (max-width: 768px) {
    .experienceContainer {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;


    }

    .experienceContent {
        height: 625px !important;
    }

    .experienceImage {
        margin-top: 0px !important;
    }

    .experienceContent,
    .experienceImageRight {
        width: 90%;
        margin: 0px;
        height: auto;
        padding-bottom: 0px;
        background: transparent;
        padding-top: 0px;
        text-align: center;
    }
    .experienceContent, button, p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .experienceImage {
        background: #a3e9f2;
        margin-top: 60px;
        margin-bottom: -60px;
        width: 250px;
        height: 150px;
    }
}
