.experienceContainer {
    display: flex;
    align-items: center;
}

.experienceContent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem ;
}

.journeyContent {
    width: 95%;
}

.experienceButton {
    width: fit-content;
    padding: 10px 20px;
}

.experienceImage {
    padding: 0;
    width: 98.5%;
    height: 1000px;
}

.experienceImageRight {
    width: 51%;
    height: 100%;
    background: #a3e9f2;
}

@media (max-width: 768px) {
    .experienceContainer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    .experienceImage {
        background: #a3e9f2;
        width: 100% !important;
        height: 100% !important;
        margin-top: 0px !important;
    }

    .experienceImageRight {
        height: 280px !important;
        width: 100% !important;
    }

    .journeyContent {
        text-align: center;
    }

    .experienceContent,
    .experienceImageRight {
        height: auto;
        margin: 0px;
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
        background: transparent;
    }

    .experienceContent >, button, p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .experienceButton {
        margin-bottom: 10px;
    }

}
