
.container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.card {
    position: relative;
}

.section-button {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}