.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    gap: 50px;
}

.inputGroup {
    display: flex;
    gap: 20px;
}

.textarea {
    border: 1px solid black;
    width: 50%;
    height: 40vh;
    border-radius: 10px;
}

.footerContainer {
    text-align: center;
    height: 50px;
}

.linkButton {
    background-color: transparent;
    color: initial;
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px 20px;
}

@media (max-width: 768px) {
    .contactContainer {
        height: auto;
        padding: 20px;
    }

    .inputGroup {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .textarea {
        width: 100%;
    }

    .linkButton {
        padding: 15px 15px;
    }
}
