body, html {
    margin: 0;
    padding: 0;
    color: black;
}

h1, h2 {
    font-size: 40px;
}

p {
    position: relative;
    font-size: 22px;
    border-radius: 20px;
    z-index: 100;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 800;
}

li {
    padding: 10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    background: lightgray;
    border: none;
    height: 2px;
}

input {
    border-radius: 20px; 
    padding: 10px 10px;
}


::-webkit-scrollbar {
    width: 10px; 
    scroll-behavior: smooth;
    background-color: transparent;

}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 50px;
    background-color: transparent;


}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #007bff, purple);
    border-radius: 0px; 

}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 28px; 
    }

    p {
        font-size: 16px; 
        font-weight: 700;
    }

    button {
        padding: 8px 20px; 
    }

    li {
        padding: 5px; 
    }

    input {
        padding: 8px 8px; 
    }

    ::-webkit-scrollbar-thumb {
        background-image: none;
    }
}
